.message {
  border-radius: 50px;
  margin: 0 0px 10px;
  padding: 15px 20px;
  position: relative;
  font-weight: bold;
}

.message.to {
  background-color: #2095FE;
  color: #fff;
  margin-left: 100px;
  text-align: right;
}

.message.from {
  background-color: #9b4dca;
  color: #363636;
  margin-right: 100px;
}

.message.to+.message.to, .message.from+.message.from {
  margin-top: -9px;
}

.chat {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  border: 1px solid black;
  position: relative;
}

.scrollable {
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 70%;
  max-height: 70%;
  width: 100%;
  position: absolute;
  background-color: #f3f3f3;
}

.chat-controls {
  bottom: 0;
  position: absolute;
  width: 100%;
  max-height: 30%;
}

.welcomeMessage {
  width: 100%;
  text-align: center;
}